

<!-- ============== Footer ============= -->
<section class="section-footer">
    <div class="container wrapper">
        <div class="col-2">
            {# left column #}
            <div>
                <a href="/">
                    <img src="/assets/ngi-logo-white.png" alt="NGI logo" class="footer-logo">
                </a>
                <p class="mb-20">t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                {# footer social icons #}
                <ul class="footer-social-list">
                    <li class="social-item">
                        <a href="https://web.facebook.com/NGI.Ghana" class="social-link">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="https://www.linkedin.com/company/northern-girl-initiative/?viewAsMember=true" class="social-link">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="https://twitter.com/NGI_Ghana" class="social-link">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>

            {# Right column #}
            <div>
                {# footer list #}
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="#" class="footer-link">Privacy Policy</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-link">Terms</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-link">Contact</a>
                    </li>
                </ul>

                {# contact details #}
                <ul class="footer-contact-list">
                    <li class="contact-item">
                        <i class="fa-solid fa-phone"></i>
                        <a href="tel:+233241105423">+233 241 105 423</a>
                    <li class="contact-item">
                        <i class="fa-solid fa-envelope"></i>
                        <a href="mailto:info@northerngirlinitiative">info@northerngirlinitiative.org</a>
                    </li>
                    <li class="contact-item">
                        <i class="fa-solid fa-map-marker"></i>
                        <a href="https://maps.app.goo.gl/8br63g9qrfE1LEid9">Tamale, near allied</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<footer>
    <p>Copyright &copy; Northern Girl Initiative 2024. Made with <i class="fa-solid fa-heart"></i> by <a href="www.segulaglobal.com">Segula Global</a></p>
</footer>
