

<!-- ============== Footer ============= -->
<section class="section-footer">
    <div class="container wrapper">
        <div class="col-2">
            {# left column #}
            <div>
                <a href="/">
                    <img src="/assets/ngi-logo-white.png" alt="NGI logo" class="footer-logo">
                </a>
                <p class="mb-20">We link girls to people and resources that build their confidence and expand their vision of what's possible. When you support a young woman's highest ambitions, you uplift entire communities in the process..</p>
                {# footer social icons #}
                <ul class="footer-social-list">
                    <li class="social-item">
                        <a href="https://web.facebook.com/NGI.Ghana" class="social-link">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="https://www.linkedin.com/company/northern-girl-initiative/?viewAsMember=true" class="social-link">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="https://twitter.com/NGI_Ghana" class="social-link">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>

            {# Right column #}
            <div>
                {# footer list #}
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="/privacy-policy/" class="footer-link">Privacy Policy</a>
                    </li>
                    <li class="footer-item">
                        <a href="/terms-of-service/" class="footer-link">Terms</a>
                    </li>
                    <li class="footer-item">
                        <a href="/contact/" class="footer-link">Contact</a>
                    </li>
                </ul>

                {# contact details #}
                <ul class="footer-contact-list">
                    <li class="contact-item">
                        <i class="fa-solid fa-phone"></i>
                        <a href="tel:0244840734">+233 24 484 0734</a>
                    <li class="contact-item">
                        <i class="fa-solid fa-envelope"></i>
                        <a href="mailto:info@northerngirlinitiative">info@northerngirlinitiative.org</a>
                    </li>
                    <li class="contact-item">
                        <i class="fa-solid fa-map-marker"></i>
                        <a href="https://maps.app.goo.gl/8br63g9qrfE1LEid9">Tamale, near allied</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<footer>
    <p>Copyright &copy; Northern Girl Initiative 2024. Made with <i class="fa-solid fa-heart"></i> by <a href="https://segulaglobal.com/" target="_blank">Segula Global</a></p>
</footer>
