// Table of content



.section-about-hero {
    width: 100%;
    min-height: 80vh;
    padding-top: 15rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--clr-gray-light);
    // justify-content: ;
    text-align: center;

    .hero-2-container {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
    }

    h1 {
        font-size: 9rem;
        line-height: 1.2;
        width: 100%;
        font-weight: bold;
    }
}


// ============================= Who we are ==================================
.section-about_who {
    padding: 10rem 0;
}


// ============================= Mission & Vision ==================================
.section-mission {
    padding: 10rem 0;

    .mission {
        padding: 5rem;
        background-color: var(--clr-blue);
        color: var(--clr-white);
        border-radius: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
        height: 400px;
    }
}
// End of Mission & Vision



// ============================= Why NGI ==================================
.section-about_why {
    padding: 10rem 0;

    p {
        margin-bottom: 2rem;
    }
}






// ============================= About Banner ==================================
.section-about_banner {
    padding: 10rem 0;
    background-image: url(/assets/about-banner.png);
    background-size: cover;
    background-position: center;
    color: #fff;

    .banner {
        text-align: center;
        padding: 4rem 1rem;
        border: 1px solid lightgray;
        border-radius: 1rem;
        transition: .2s;

        &:hover {
            background-color: lightgray;
            color: var(--clr-red);
            scale: .95;
        }

        h1 {
            font-size: 3rem;
            line-height: 1.2;
            margin-bottom: 2rem;
        }
    }
}



// ============================= About TEam ==================================
.section-about_team {
    padding: 10rem 0;
    text-align: center;

    .member {
        border: 1px solid #787878;
        padding: 2rem 0;
        border-radius: 2px;
        transition: .3s ease-in-out;;

        img {
            padding: 0 3rem;
        }

        // name
        .name {
            color: var(--clr-blue);
            font-weight: bold;
            margin-top: 1rem;
        }
        .title {
            font-size: 1.3rem;
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
        }
    }
}








// ==========================================================
//                       Membership Page
// ==========================================================
.section-member {
    padding: 20rem 0 15rem;

    .member-container {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 4fr;
        grid-template-rows: auto;
        gap: 3rem;
    }

    h1 {
        font-weight: 400;
        font-size: 3rem;
    }
    h3 {
        color: var(--clr-red);
        font-weight: 400;
    }
    .bar {
        display: inline-block;
        width: 100px;
        height: 3px;
        background-color: var(--clr-gray-light);
        margin-bottom: 1rem;
    }

    // image 
    img {
        width: 100%;
        max-width: 200px;
        text-align: center;
    }
}









// ==========================================================
//                       Media queries
// ==========================================================
@media screen and (max-width: 768px) {
    .section-about-hero {

        h1 {
            font-size: 6rem;
            line-height: 1.5;
        }
    }



    // Single member pages
    .section-member {

        .member-container {
            grid-template-columns: 1fr;
        }
        .member-name {
            text-align: center;
        }
    }
}