.section-blog-hero {
    width: 100%;
    height: 100vh;
    background-image: url(/assets/donate-bg.png);
    background-size: cover;
    background-position: center;
    // background-attachment: fixed;

    .hero-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;
        padding-top: 10rem;
        text-align: center;
    }

    h1 {
        font-size: 6rem;
        line-height: 1.5;
    }
}



// main donate button
.donate-btn {
    padding: 10rem 0;
    text-align: center;

    p {
        max-width: 1000px;
        margin: 0 auto;
        margin-bottom: 5rem;
    }
}



.donate-banner {
    width: 100%;
    padding: 10rem 0;
    background-image: url(/assets/donate-banner-bg.png);
    background-size: cover;
    // background-attachment: fixed;
    background-position: center;
    color: #fff;


    .banner-container {
        text-align: center;
        max-width: 1000px;
        margin: 0 auto;

        h1 {
            font-size: 4rem;
            line-height: 1.5;
            margin-bottom: 3rem;
        }
    }
}














// =============================================================
//                        Payment Page
// =============================================================
.section-payment {
    padding: 20rem 0;
    text-align: center;

    .payment-container {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }

    p {
        margin: 2rem 0;
    }

    // payment form
    .payment-form {
        width: 100%;
        padding: 5rem 3rem;
        background-color: #011c34;
        color: #fff;
        text-align: left;
        border-radius: 1rem;
    }

    label {
        padding-left: 1rem;
        color: #b3b3b3;
        font-size: inherit;
        font-family: inherit;
    }

    .input-field {
        width: 100%;
        padding: 1rem 1.5rem;
        border: none;
        outline: none;
        border-radius: 1rem;
        border: 1px solid #062d50;
        margin-bottom: 2rem;
        font-family: inherit;
        font-size: inherit;
        background-color: #042643;
        color: #fff;

        &:focus,
        &:valid {
            border: 1px solid #2e5c84;
        }
    }
}












// =================== Media Queries =================
@media screen and (max-width: 768px) {

    .section-blog-hero {

        h1 {
            font-size: 4rem;
            line-height: 1.2;
        }
    }
}