---
title: About Sheila Wristberg
meta: Sheila Wristberg is an award-winning insurance and risk management expert with over a decade of experience advising leading institutions across Ghana and internationally. As Managing Director of iRisk Management Ltd and a recognized thought leader, Sheila is passionate about insurance access and literacy. Sheila works to progress inclusive policies and sustainable industry growth as an influential figure recently honored as “Young Insurance Professional of the Year” by the Ghana Insurance Excellence Awards 2022.
layout: 'base.njk'
---




<div id="hero"></div>

{# =================== About hero================== #}
<section class="section-about-hero">
    <div class="container wrapper">
        <div class="hero-2-container">
            <h1 class="hero-heading">About us</h1>
            <p>We’re always looking for organisations and stakeholders in our sector who are progressing climate action and education for children and young people.
            <br>    
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div>
    </div>
</section>
{# end of about hero #}



{# =================== Who We are ================== #}
<section class="section-about_who">
    <div class="container wrapper">
        <h2 class="heading-primary">Who We are</h2>
        <div class="col-2 mb-50">
            <div>
                <p>The “Northern Girl” is a metaphor to depict the vision of what and how the next generation of girls and women from the Northern Region of Ghana should look like. Embedded in this vision is a transformative element that targets opportunities and outcomes for girls and women from the region. It also entails a vision of girls and women as agents of change, whose empowerment will enhance their wellbeing and that of their households and the country at large.</p>
            </div>
            <div>
                <img src="/assets/who-we-are.png" alt="Who we are">
            </div>
        </div>
        <div class="col-2 mb-50">
            <div>
                <img src="/assets/who-we-are.png" alt="Who we are">
            </div>
            <div>
                <p>The “Northern Girl” is a metaphor to depict the vision of what and how the next generation of girls and women from the Northern Region of Ghana should look like. Embedded in this vision is a transformative element that targets opportunities and outcomes for girls and women from the region. It also entails a vision of girls and women as agents of change, whose empowerment will enhance their wellbeing and that of their households and the country at large.</p>
            </div>
        </div>
        <div class="col-2 mb-50">
            <div>
                <p>The “Northern Girl” is a metaphor to depict the vision of what and how the next generation of girls and women from the Northern Region of Ghana should look like. Embedded in this vision is a transformative element that targets opportunities and outcomes for girls and women from the region. It also entails a vision of girls and women as agents of change, whose empowerment will enhance their wellbeing and that of their households and the country at large.</p>
            </div>
            <div>
                <img src="/assets/who-we-are.png" alt="Who we are">
            </div>
        </div>
    </div>
</section>
{# End of Who we are #}




{# =================== Mission & Vision ================== #}
<section class="section-mission">
    <div class="container wrapper">
        <div class="col-2">
            <div class="mission">
                <h2>Our Mission</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas praesentium alias qui voluptatem, a reprehenderit. Ex distinctio corrupti dolores ducimus.</p>
            </div>
            <div class="mission">
                <h2>Our Vision</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas praesentium alias qui voluptatem, a reprehenderit. Ex distinctio corrupti dolores ducimus.</p>
            </div>
        </div>
    </div>
</section>
{# End of mission & vision #}




{# =================== Why NGI ================== #}
<section class="section-about_why">
    <div class="container wrapper">
        <h1 class="hero-heading mb-50">Why the Northern Girl Initiative?</h1>
        <div class="col-2">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto iste dolores sequi sint, tempora, enim, possimus quisquam voluptate reiciendis et repellendus. Esse dolore ea porro?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas repudiandae cupiditate, asperiores fugiat dolore obcaecati.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed quod dicta architecto ut voluptatem aperiam accusamus est, facere accusantium maiores ad exercitationem, quaerat nesciunt mollitia quibusdam vero, repellat tempore quia.</p>
            </div>
            <div>
                <img src="/assets/project-1.png" alt="Why Northern Girl Initiative">
            </div>
        </div>
    </div>
</section>
{# End of why NGI #}




{# =================== About Banner ================== #}
<section class="section-about_banner">
    <div class="container wrapper">
        <div class="col-3">
            <div class="banner">
                <h1>Girl power</h1>
                <p>We believe in the power of Girls to stand-up for themselves against any form of gender related repression.</p>
            </div>
            <div class="banner">
                <h1>Community Partnership</h1>
                <p>We believe in the power of Girls to stand-up for themselves against any form of gender related repression.</p>
            </div>
            <div class="banner">
                <h1>Loyal Volunteers</h1>
                <p>We believe in the power of Girls to stand-up for themselves against any form of gender related repression.</p>
            </div>
        </div>
    </div>
</section>
{# End of about banner #}






{# =================== About Team ================== #}
<section class="section-about_team">
    <div class="container wrapper">
        <h1 class="heading-primary">Our Team</h1>
        <p class="mb-50">We’re small in size – but big in ambition! And we both do a bit of everything. Whether that's making exciting projects come to life, or researching social issues. We’re working to make a difference, every day.</p>
        <div class="col-4">
            <div class="member">
                <img src="/assets/team-1.png" alt="NGI Team">
                <p class="name">Lorem ipsum sit amit</p>
                <p class="title">CEO NGI Foundation</p>
            </div>
            <div class="member">
                <img src="/assets/team-1.png" alt="NGI Team">
                <p class="name">Lorem ipsum sit amit</p>
                <p class="title">CEO NGI Foundation</p>
            </div>
            <div class="member">
                <img src="/assets/team-1.png" alt="NGI Team">
                <p class="name">Lorem ipsum sit amit</p>
                <p class="title">CEO NGI Foundation</p>
            </div>
            <div class="member">
                <img src="/assets/team-1.png" alt="NGI Team">
                <p class="name">Lorem ipsum sit amit</p>
                <p class="title">CEO NGI Foundation</p>
            </div>
            <div class="member">
                <img src="/assets/team-1.png" alt="NGI Team">
                <p class="name">Lorem ipsum sit amit</p>
                <p class="title">CEO NGI Foundation</p>
            </div>
            <div class="member">
                <img src="/assets/team-1.png" alt="NGI Team">
                <p class="name">Lorem ipsum sit amit</p>
                <p class="title">CEO NGI Foundation</p>
            </div>
            <div class="member">
                <img src="/assets/team-1.png" alt="NGI Team">
                <p class="name">Lorem ipsum sit amit</p>
                <p class="title">CEO NGI Foundation</p>
            </div>
            <div class="member">
                <img src="/assets/team-1.png" alt="NGI Team">
                <p class="name">Lorem ipsum sit amit</p>
                <p class="title">CEO NGI Foundation</p>
            </div>
        </div>
    </div>
</section>
{# End of About team #}





<!-- =============== Volunteer =================== -->
<section class="section-volunteers">
    <div class="container wrapper">
        <div class="col-2">
            <div>
                <h1>Call for Volunteers.</h1>
                <p>Our success over the years cannot be attributed to only our efforts. We have benefited from a great team of volunteers who want to make a difference. Join us</p>
                <a href="#" class="btn btn-yellow">Sign Up now</a>
            </div>
            <div>
                <img src="/assets/volunteer-img.png" alt="Volunteer at NGI">
            </div>
        </div>
    </div>
</section>
{# End of Volunteer section #}