---
title: About NGI
meta: We're supporting girls' education and programs across Northern Ghana's communities.
layout: 'base.njk'
---




<div id="hero"></div>

{# =================== About hero================== #}
<section class="section-about-hero">
    <div class="container wrapper">
        <div class="hero-2-container">
            <h1 class="hero-heading">About us</h1>
            <p>We're supporting girls' education and programs across Northern Ghana's communities.
            <br>
            From helping girls complete school and pursue careers, to giving young female activists platforms to advocate for equal rights - we're showing girls their power to create positive change.</p>
        </div>
    </div>
</section>
{# end of about hero #}



{# =================== Who We are ================== #}
<section class="section-about_who">
    <div class="container wrapper">
        <h2 class="heading-primary">Who We are</h2>
        <div class="col-2 mb-50">
            <div>
                <p>The “Northern Girl” is a metaphor to depict the vision of what and how the next generation of girls and women from the Northern Region of Ghana should look like. 
                </p>
                <p>
                Women and girls from the Northern Regions are the most disadvantaged in terms of economic and social opportunities. These are coupled with socio-cultural barriers that further undermine women’s access to education, employment, and other opportunities. Recognizing the urgent need to improve women’s position in the region, two sisters native to the region (Sahadatu and Dr. Namawu Alolo) conceived the Northern Girl Initiative (NGI) to empower women and girls through unique initiatives and mentorship programs..</p>
            </div>
            <div>
                <img src="/assets/about-1.png" alt="Who we are">
            </div>
        </div>
        <div class="col-2 mb-50">
            <div>
                <img src="/assets/about-2.png" alt="Who we are">
            </div>
            <div>
                <p>We believe every girl in Northern Ghana deserves access to education and opportunities to reach her full potential. Since launching NGI, we've worked to empower girls to create positive change as leaders in their communities.</p>
                <p>The future of Northern Ghana depends on the next generation. That's why we support girls' education, provide mentorship programs, and equip young women with skills to uplift their villages. It's how we feel we can drive progress.
                </p>
                <p>By walking alongside girls today, we are cultivating the female changemakers and visionaries who will lead Northern Ghana into the light.</p>
            </div>
        </div>
        <div class="col-2 mb-50">
            <div>
                <p>Young women in Northern Ghana are passionate about uplifting their communities. However many lack access to education and career opportunities to create change, and we work to change them. For example, UNESCO reports that 130 million girls ages 6-17 globally are out of school currently.</p>
                <p>From helping girls complete school and develop skills to equipping young activists to advocate for women's rights in a region where research by Ballard Brief indicates that on average, girls from rural, more northern regions in Ghana tend to face more barriers to accessing education than their male or southern-dwelling female counterparts.</p>
            </div>
            <div>
                <img src="/assets/about-3.png" alt="Who we are">
            </div>
        </div>
    </div>
</section>
{# End of Who we are #}




{# =================== Mission & Vision ================== #}
<section class="section-mission">
    <div class="container wrapper">
        <div class="col-2">
            <div class="mission fade-in">
                <h2>Our Mission</h2>
                <p>Our mission is to connect the Northern Girl with mentors and a wide range of educational and career opportunities, empowering them to become catalysts for positive change within their communities.</p>
            </div>
            <div class="mission fade-in">
                <h2>Our Vision</h2>
                <p>The Initiative envisions a new generation of girls who are empowered to act as catalysts of change as evidenced in their well-being, in their communities, and the country at large. And to foster and facilitate processes and avenues that enable the advancement of girls from Northern Ghana.</p>
            </div>
        </div>
    </div>
</section>
{# End of mission & vision #}




{# =================== Why NGI ================== #}
<section class="section-about_why">
    <div class="container wrapper">
        <h1 class="hero-heading mb-50">Why the Northern Girl Initiative?</h1>
        <div class="col-2">
            <div>
                <p>Access to education in Northern Ghana still falls behind national averages - for example, according to a study by the National Development Planning Commission, up to 16 percent fewer women participate in the labor force compared to men. Additional gaps remain when considering rural districts specifically. This discrepancy illustrates factors beyond mere access influence attainment, including gender and geographical location.</p>
            </div>
            <div>
                <img src="/assets/about-4.png" alt="Why Northern Girl Initiative">
            </div>
            <div>
                <p>While the country has made strides overall, true gender parity in completion has not been achieved. A 2019 Ballard Brief estimated national ratios show 68 girls graduating secondary school for every 100 boys who do, in Ghana. As age increases, the probability of girls dropping out escalates compared to boys. The lack of female role models pursuing higher education or formal employment contributes to these barriers.</p>
            </div>
            <div>
                <p>The "Northern Girl Initiative" was founded to directly address these interconnected education, training, and mentorship gaps holding Northern Ghana’s next generation of female leaders back. By linking girls to mentors, scholarships, STEM programs, career guidance, and more — we unlock their potential and equip them to uplift families for years to come. Investing in girls means investing in entire communities..</p>
            </div>
        </div>
    </div>
</section>
{# End of why NGI #}




{# =================== About Banner ================== #}
<section class="section-about_banner">
    <div class="container wrapper">
        <div class="col-3">
            <div class="banner">
                <h1>Girl power</h1>
                <p>We believe in the power of Girls to stand up for themselves against any form of gender-related repression..</p>
            </div>
            <div class="banner">
                <h1>Community Partnership</h1>
                <p>We have developed a very strong partnership with the communities we work with to develop the Girl Child.</p>
            </div>
            <div class="banner">
                <h1>Loyal Volunteers</h1>
                <p>We have a team of loyal and dedicated Volunteers who are willing to go to every height to promote our vision.</p>
            </div>
        </div>
    </div>
</section>
{# End of about banner #}






{# =================== About Team ================== #}
<section class="section-about_team" id="team">
    <div class="container wrapper">
        <h1 class="heading-primary">Our Team</h1>
        <p class="mb-50">NGI's passionate team with a shared mission. We come from diverse backgrounds, yet we all pitch in wherever needed - whether implementing educational programs, connecting mentors, or researching challenges facing women in the region. We’re working to make a difference, every day.</p>
        <div class="col-4">
            <div class="member">
                <img src="/assets/team-2.png" alt="NGI Team">
                <p class="name">Dr. Namawo Alolo</p>
                <p class="title">Co-founder/VP</p>
                <a href="/alolo/" class="btn-thin">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="member">
                <img src="/assets/team-1.png" alt="NGI Team">
                <p class="name">Mubarik Ibrahim</p>
                <p class="title">Board Member</p>
                <a href="/mubarik/" class="btn-thin">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="member">
                <img src="/assets/team-4.png" alt="NGI Team">
                <p class="name">Deliman Yaro Ruka</p>
                <p class="title">Executive Director</p>
                <a href="/ruka/" class="btn-thin">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="member">
                <img src="/assets/team-3.png" alt="NGI Team">
                <p class="name">Samiha Yunus</p>
                <p class="title">Manager of Volunteers</p>
                <a href="/yunus/" class="btn-thin">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
            {# <div class="member">
                <img src="/assets/team-1.png" alt="NGI Team">
                <p class="name">Lorem ipsum sit amit</p>
                <p class="title">CEO NGI Foundation</p>
            </div>
            <div class="member">
                <img src="/assets/team-1.png" alt="NGI Team">
                <p class="name">Lorem ipsum sit amit</p>
                <p class="title">CEO NGI Foundation</p>
            </div>
            <div class="member">
                <img src="/assets/team-1.png" alt="NGI Team">
                <p class="name">Lorem ipsum sit amit</p>
                <p class="title">CEO NGI Foundation</p>
            </div>
            <div class="member">
                <img src="/assets/team-1.png" alt="NGI Team">
                <p class="name">Lorem ipsum sit amit</p>
                <p class="title">CEO NGI Foundation</p>
            </div> #}
        </div>
    </div>
</section>
{# End of About team #}





<!-- =============== Volunteer =================== -->
<section class="section-volunteers">
    <div class="container wrapper">
        <div class="col-2">
            <div>
                <h1>Call for Volunteers.</h1>
                <p>Our progress and impact over the years cannot be attributed only to our efforts. We have benefited from a great number of volunteers who want to make a difference. Join us</p>
                <a href="https://docs.google.com/forms/d/1FCgtA5sUiCa6g8uRSaA5VDTtQ7WSDTjet2NmBCpOEAA/edit" target="_blank" class="btn btn-yellow">Sign Up now</a>
            </div>
            <div>
                <img src="/assets/volunteer-img.png" alt="Volunteer at NGI">
            </div>
        </div>
    </div>
</section>
{# End of Volunteer section #}