---
title: Dr. Namawo Alolo
meta: Dr. Namawo Alolo has over 9 years of international experience in consultancy work, research and training in governance, poverty reduction and gender empowerment.
layout: 'base.njk'
---



<section id="hero"></section>


{# =============================  Member =========================== #}
<section class="section-member">
    <div class="container wrapper">
        <div class="member-container">
            <div class="image text-center">
                <img src="/assets/team-2.png" alt="Dr. Alolo">
            </div>
            <div>
                <div class="member-name">
                    <h1>Dr. Namawo Alolo</h1>
                    <h3>Co-founder/VP</h3>
                    <div class="bar"></div>
                </div>
                <p>Dr. Namawo Alolo has over 9 years of international experience in consultancy work, research and training in governance, poverty reduction and gender empowerment. She has special interests and expertise in poverty reduction strategies and development interventions, good governance and gender empowerment. Dr. Alolo supported teaching on two modules: (i) governance and (ii) political economy of Poverty Reduction at the University of Birmingham; and acted as an adviser on anti-corruption initiatives for Transparency International. She has also undertaken substantial research, including CARE International (UK) funded project on the linkages between urban poverty reduction and good governance. Dr. Alolo also worked as a Research Associate for a DFID-funded program on religions and development at the University of Birmingham and was seconded part-time to Islamic Relief Worldwide, as a Policy and Research Analyst. </p>
                <br>
                <p class="mb-50">She also led a major research on corruption and human rights, commissioned by the International Council on Human Rights Policy (Geneva). Dr. Alolo has been with the African Development Bank since 2007 where she worked (Oct. 2007 – Oct. 2008) on development projects in Malawi, Liberia, Ghana and Egypt. She was posted to the Nigeria office of the AfDB as an Economist between 2008-2009 and returned to the African Water Facility (AWF) as a Socio-Economist. In-between her assignment at the African Development Bank, Dr. Alolo was engaged by the Global Fund to Fight HIV/AIDS, Malaria and Tuberculosis to provide advisory support on operational policies. Dr. Alolo has since returned to the AfDB as a Senior Policy Specialist. </p>

                <a href="/about/#team" class="btn btn-yellow">Back</a>
            </div>
        </div>
    </div>
</section>