---
title: Newsroom
meta: Our Regular Blog
layout: 'base.njk'
---





{# ========================== Blog Hero ======================== #}
<section class="section-hero blog-hero" id="hero">
    <div class="container wrapper">
        <div class="hero-container">
            <h1 class="mb-50">A GREAT, BRIGHTER FUTURE FOR EVERY CHILD</h1>
            <div>
                {# <a href="#" class="btn btn-yellow mr-20">See our projects</a> #}
            </div>
        </div>
    </div>
</section>


{# ============================ Blog section ========================= #}
<div class="section-blog__post">
  <div class="container wrapper">
    <h1 class="heading-secondary">Recent articles</h1>
    <div class="col-3">
      {%- for post in collections.post | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor-%}
    </div>
  </div>
</div>
{# end of Section blog #}


{# ============================ Blog section ========================= #}

{# End of section project #}