---
title: Let's work together
meta: Lets work together.
layout: 'base.njk'
---

<div id="hero"></div>


{# =================== Contact hero================== #}
<section class="section-contact-hero">
    <div class="container wrapper">
        <div class="contact-container">
            <h1 class="hero-heading">Get in touch</h1>
            <p>We’re always looking for organizations and individuals passionate about empowering girls in Northern Ghana, and interested in quality education for children and young people. If you’re interested in working together, or supporting the cause please fill in our short form below. If there are opportunities for collaboration we’ll get in touch. </p>
        </div>
    </div>
</section>
{# Enf of contact hero #}



{# =================== Contact form section ================== #}
<section class="section-contact-form">
    <div class="container wrapper">
        <div class="form-container">
            <div>
                <h2 class="blue-text heading-secondary">Send a message</h2>
                <form name="contact" method="POST" data-netlify="true" class="contact-form">
                    {# <select name="purpose" id="purpose" required class="input-field">
                        <option value="Option one">Option one</option>
                        <option value="Option two">Option two</option>
                        <option value="Option three">Option three</option>
                        <option value="Option four">Option four</option>
                    </select> #}

                    <div class="col-2">
                        <input type="text" name="fname" id="fname" required placeholder="First Name" class="input-field">
                        <input type="text" name="lname" id="lname" required placeholder="Last Name" class="input-field">
                    </div>

                    <input type="email" name="email" id="email" required placeholder="Email Address" class="input-field">

                    <textarea name="message" id="message" cols="30" rows="10" required placeholder="Message" class="input-field"></textarea>

                    <button type="submit" class="btn btn-yellow">Send </button>
                </form>
            </div>

            {# contact details #}
            <div>
                <h2 class="blue-text heading-secondary">Contact Details</h2>
                <ul class="contact-list">
                    <li class="contact-item">
                        <i class="fa-solid fa-phone"></i>
                        <div>
                            <h3 class="yellow-text">Call Us</h3>
                            <a href="tel:+233241105423" target="_blank">+233 241 105 423</a>
                        </div>
                    </li>
                    <li class="contact-item">
                        <i class="fa-solid fa-envelope"></i>
                        <div>
                            <h3 class="yellow-text">Send us an email</h3>
                            <a href="mailto:info@northerngirlinitiative.org" target="_blank">info@northerngirlinitiative.org</a>    
                        </div>
                    </li>
                    <li class="contact-item">
                        <i class="fa-brands fa-whatsapp"></i>
                        <div>
                            <h3 class="yellow-text">WhatsApp us</h3>
                            <a href="https://wa.link/xsh59b" target="_blank">Send a message</a>
                        </div>
                    </li>
                    <li class="contact-item">
                        <ul>
                            <li>
                                <i class="fa-brands fa-facebook-f"></i>
                                <a href="#">Facebook</a>
                            </li>
                            <li>
                                <i class="fa-brands fa-linkedin-in"></i>
                                <a href="#">LinkedIn</a>
                            </li>
                            <li>
                                <i class="fa-brands fa-x-twitter"></i>
                                <a href="#">X-twitter</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{# end of contact form section #}






<!-- =============== Donate =================== -->
<section class="section-donate">
    <div class="container wrapper">
        <div class="donate-container">
            <h1 class="mb-50">YOUR DONATION EMPOWERS THE DAUGHTERS OF NORTHERN GHANA  </h1>
            <a href="/donate/" class="btn btn-yellow">Donate Now</a>
        </div>
    </div>
</section>
{# End of Section donate #}