---
title: Donate
meta: Donate
layout: 'base.njk'
---






{# ========================== Donate Hero ======================== #}
<section class="section-blog-hero" id="hero">
    <div class="container wrapper">
        <div class="hero-container">
            <h1 class="mb-50">YOUR DONATION EMPOWERS THE DAUGHTERS OF NORTHERN GHANA</h1>
            <div>
                {# <a href="#" class="btn btn-yellow mr-20">See our projects</a> #}
            </div>
        </div>
    </div>
</section>
{# End of Donate hero #}



{# ========================== Donate Hero ======================== #}
<section class="donate-btn">
    <div class="container wrapper">
        <div class="donate-container">
            <h1 class="hero-heading">Donate</h1>
            <p>From programs breaking down barriers to education to connecting girls with female leaders guiding them to new heights - together, we are clearing the path ahead for Northern Ghana girls to become guiding lights in their communities. Every donation helps unlock access and empowerment for girls eager to learn, lead, and uplift.</p>
            <a href="#" class="btn btn-yellow">Donate</a>
        </div>
    </div>
</section>
{# End of donate button #}



{# ========================== Donate Banner ======================== #}
<section class="donate-banner">
    <div class="container wrapper">
        <div class="banner-container">
            <h1>You're making a big difference all over.</h1>
            <p class="yellow-text">Thank You</p>
        </div>
    </div>
</section>
{# End of donate banner #}





<!-- =============== Volunteer =================== -->
<section class="section-volunteers">
    <div class="container wrapper">
        <div class="col-2">
            <div>
                <h1>Call for Volunteers.</h1>
                <p>Our progress and impact over the years cannot be attributed only to our efforts. We have benefited from a great number of volunteers who want to make a difference. Join us</p>
                <a href="https://docs.google.com/forms/d/1FCgtA5sUiCa6g8uRSaA5VDTtQ7WSDTjet2NmBCpOEAA/edit" target="_blank" class="btn btn-yellow">Sign Up now</a>
            </div>
            <div>
                <img src="/assets/volunteer-img.png" alt="Volunteer at NGI">
            </div>
        </div>
    </div>
</section>
{# End of Volunteer section #}