---
title: FAQs
meta: About Northern Girl Initiative
layout: 'base.njk'
---




<div id="hero"></div>



{# =================== FAQS hero ================== #}
<section class="section-about-hero">
    <div class="container wrapper">
        <div class="hero-2-container">
            <h1 class="hero-heading">FAQs</h1>
            <p>We’re always looking for organisations and stakeholders in our sector who are progressing climate action and education for children and young people.
            <br>    
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div>
    </div>
</section>
{# end of about hero #}


{# ========================= FAQs ================= #}
<section class="section-faq" id="section-faqs">
    <div class="container wrapper">
        <div class="text-center">
            <h2 class="heading-secondary mb-50 text-center">Frequently Asked Questions (FAQs)</h2>
        <button class="accordion main-acc one">About Northern Girl Initiative</button>
        <div class="panel main-panel">
            <button class="accordion sub-acc">How does NGI envision the impact of its initiatives on communities?</button>
            <div class="panel sub-panel">
                <p>NGI envisions a positive impact on communities by empowering girls and women to become agents of change, leading to improved well-being and socio-economic development.</p>
            </div>

            {# How does NGI promote global solidarity? #}
            <button class="accordion sub-acc">How does NGI promote global solidarity?</button>
            <div class="panel sub-panel">
                <p>NGI promotes global solidarity by connecting girls with mentors and educational opportunities, fostering a sense of community and collaboration beyond geographical boundaries.</p>
            </div>

            {# What are NGI's strengths? #}
            <button class="accordion sub-acc">What are NGI's strengths?</button>
            <div class="panel sub-panel">
                <p>NGI's strengths include a belief in the power of girls, strong community partnerships, and a dedicated team of volunteers committed to promoting their vision.</p>
            </div>

            {# What are NGI's future visions and goals? #}
            <button class="accordion sub-acc">What are NGI's future visions and goals?</button>
            <div class="panel sub-panel">
                <p>NGI envisions a future where girls and women in the Northern Region have access to resources, networking opportunities, and mentorship. We aspire to create a platform for girls to become future mentors themselves.</p>
            </div>

            {# What support does NGI provide for girl-child education? #}
            <button class="accordion sub-acc">What support does NGI provide for girl-child education?</button>
            <div class="panel sub-panel">
                <p>NGI offers girl-child education support services, including mentorship programs, workshops, and leadership initiatives to enhance the educational experience for girls.</p>
            </div>

            {# What is NGI's mission? #}
            <button class="accordion sub-acc">What is NGI's mission?</button>
            <div class="panel sub-panel">
                <p>NGI's mission is to connect Northern girls with mentors and various educational and career opportunities, empowering them to become catalysts for positive change within their communities.</p>
            </div>

            {# Who founded NGI? #}
            <button class="accordion sub-acc">Who founded NGI?</button>
            <div class="panel sub-panel">
                <p>NGI was founded by two sisters, Sahadatu and Dr. Namawu Alolo, with the vision of empowering women and girls in the Northern Region.</p>
            </div>
            
            {# What is Northern Girl Initiative (NGI)? #}
            <button class="accordion sub-acc">Who founded NGI?</button>
            <div class="panel sub-panel">
                <p>NGI is a non-governmental organization focused on empowering girls and women from the Northern Region of Ghana through mentorship, education, and career support.</p>
            </div>

            {# What systemic issues does NGI try to overcome for Northern Ghanaian girls? #}
            <button class="accordion sub-acc">What systemic issues does NGI try to overcome for Northern Ghanaian girls?</button>
            <div class="panel sub-panel">
                <p>NGI directly tackles obstacles like limited educational access/completion, lack of employment pathways, missing female mentorship/role models, restrictive cultural norms, inadequate skills training, and more.</p>
            </div>



        </div>


        










        {# =========== Our Services ============== #}
        <button class="accordion main-acc two.'">Our Activities and Projects</button>
        <div class="panel main-panel">

            {# Are there educational opportunities provided by NGI? #}
            <button class="accordion sub-acc">Are there educational opportunities provided by NGI?</button>
            <div class="panel sub-panel">
                <p>NGI connects girls with various educational opportunities, including workshops, leadership programs, and mentorship initiatives aimed at enhancing their overall educational experience.</p>
            </div>

            {# How does NGI support career development? #}
            <button class="accordion sub-acc">How does NGI support career development?</button>
            <div class="panel sub-panel">
                <p>NGI provides career support services, including coaching, job search assistance, workshops, and conferences, to enhance the technical capacities of girls and women in various areas.</p>
            </div>

            {# How does NGI address socio-cultural barriers in the Northern Region? #}
            <button class="accordion sub-acc">How does NGI address socio-cultural barriers in the Northern Region?</button>
            <div class="panel sub-panel">
                <p>NGI addresses socio-cultural barriers through targeted mentorship programs and support services that aim to empower girls to overcome challenges in their educational and career paths.</p>
            </div>

            {# How can I get involved with NGI as a volunteer #}
            <button class="accordion sub-acc">How can I get involved with NGI as a volunteer</button>
            <div class="panel sub-panel">
                <p>To become a volunteer, visit the <a href="/contact/">Contact page</a> on NGI's website and express your interest in making a difference.</p>
            </div>

            {# Who does NGI serve specifically and where are they located? #}
            <button class="accordion sub-acc">Who does NGI serve specifically and where are they located?</button>
            <div class="panel sub-panel">
                <p>We serve adolescent girls and young women based in rural Northern Region communities, focused on districts with highest gender inequality and barriers to female advancement.</p>
            </div>

            {# What are NGI's main programs and initiatives? #}
            <button class="accordion sub-acc">What are NGI's main programs and initiatives?</button>
            <div class="panel sub-panel">
                <p>Key NGI programs include our mentorship pairings, STEM camps, academic scholarships, career readiness workshops, community advocacy training and educational sponsorship initiatives..</p>
            </div>


        </div>
        <div class="text-center">
            <a href="#section-contact" class="btn btn-yellow"> Contact Us </a>
        </div>
    </div>
</section> 







<!-- =============== Donate =================== -->
<section class="section-donate">
    <div class="container wrapper">
        <div class="donate-container">
            <h1 class="mb-50">MAKE A MONTHLY DONATION AND KNOW THAT 100% WILL GO TO OUR PROJECTS</h1>
            <a href="#" class="btn btn-yellow">Donate Now</a>
        </div>
    </div>
</section>
{# End of Section donate #}
