---
title: FAQs
meta: About Northern Girl Initiative
layout: 'base.njk'
---




<div id="hero"></div>



{# =================== FAQS hero ================== #}
<section class="section-about-hero">
    <div class="container wrapper">
        <div class="hero-2-container">
            <h1 class="hero-heading">FAQs</h1>
            <p>We’re always looking for organisations and stakeholders in our sector who are progressing climate action and education for children and young people.
            <br>    
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div>
    </div>
</section>
{# end of about hero #}


{# ========================= FAQs ================= #}
<section class="section-faq" id="section-faqs">
    <div class="container wrapper">
        <div class="text-center">
            <h2 class="heading-secondary mb-50 text-center">Frequently Asked Questions (FAQs)</h2>
        <button class="accordion main-acc one">About Comfort Cradle Care</button>
        <div class="panel main-panel">
            <button class="accordion sub-acc">How can I contact the organisation or find more information?</button>
            <div class="panel sub-panel">
                <p>To schedule a consultation, just click on the “Contact Us” button and leave your contact information. You can also contact us using our contact information on the website</p>
            </div>
        </div>
        <button class="accordion main-acc two.'">Our Services</button>
        <div class="panel main-panel">
            <button class="accordion sub-acc">How do I schedule a consultation with a night nurse?</button>
            <div class="panel sub-panel">
                <p>You can contact us via our contact details provided below or send us a message via the <a href="#section-contact">contact form</a> below.</p>
            </div>
            <button class="accordion sub-acc">What qualifications do your night nurses have?</button>
            <div class="panel sub-panel">
                <p>Our night nurses are certified nurses with a minimum of 3 years experience</p>
            </div>
            <button class="accordion sub-acc">What is the process for conducting background checks on your staff?</button>
            <div class="panel sub-panel">
                <p>All newborn care specialists have verified police reports from the Ghana Police headquarters.</p>
            </div>
            <button class="accordion sub-acc">Do you provide care for premature babies?</button>
            <div class="panel sub-panel">
                <p>Yes, we provide care for premature babiesHow much does your service cost? Here is a link to our rate card</p>
            </div>
            <button class="accordion sub-acc">How much does your service cost?</button>
            <div class="panel sub-panel">
                <p>Here is a link to our <a href="/assets/rate-cards-2.pdf" target="blank"> rate card </a> </p>
            </div>
        </div>
        <div class="text-center">
            <a href="#section-contact" class="btn btn-primary"> Contact Us </a>
        </div>
    </div>
</section> 







<!-- =============== Donate =================== -->
<section class="section-donate">
    <div class="container wrapper">
        <div class="donate-container">
            <h1 class="mb-50">MAKE A MONTHLY DONATION AND KNOW THAT 100% WILL GO TO OUR PROJECTS</h1>
            <a href="#" class="btn btn-yellow">Donate Now</a>
        </div>
    </div>
</section>
{# End of Section donate #}
