---
title: Northern Girl Initiative
meta: The “Northern Girl” is a metaphor to depict the vision of what and how the next generation of girls and women from the Northern Region of Ghana should look like.
layout: 'base.njk'
---

{# Table of content #}
{# 1. Section hero #}
{# 3. Section About #}
{# 2. Section Services #}






{# ================================ Section hero ============================= #}
<section class="section-hero" id="hero">
    <div class="container wrapper">
        <div class="hero-container">
            <h1 class="mb-50">A GREAT, BRIGHTER FUTURE FOR EVERY CHILD</h1>
            <div>
                <a href="#" class="btn btn-yellow mr-20">See our projects</a>
                <a href="#" class="btn btn-white">Contact Us</a>
            </div>
        </div>
    </div>
</section>
{# Section-hero #}




{# ================================ Section about ============================= #}
<section class="hero-about" id="about">
    <div class="container wrapper">
        <div class="col-2">
            <div>
                <img src="/assets/about-img.png" alt="NGI About image">
            </div>
            <div>
                <h2 class="heading-secondary">About NGI</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas quod qui officia minima. Rem voluptatum quam asperiores id iure adipisci.</p>
                <br>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa optio beatae accusantium porro facilis sapiente nihil atque veniam molestiae deleniti similique nam, obcaecati nulla maxime ab! Eum minus quam enim vero, amet nihil quod impedit.</p>
            </div>
        </div>
    </div>
</section>
{# End of Section Hero #}



{# ================================ Section What we do ============================= #}
<section class="section-services" id="services">
    <div class="container wrapper">
        <h2 class="heading-primary">What we do</h2>
        <div class="col-3">
            {# Service 1 #}
            <div class="service">
                <img src="/assets/what-1.png" alt="NGI service">
                <p>Lorem Ipsum</p>
                <h2>Lorem Ipsum sit Amet</h2>
                <a href="#" class="btn-thin">View more <i class="fa-solid fa-arrow-right"></i></a>
            </div>

            {# Service 2 #}
            <div class="service">
                <img src="/assets/what-2.png" alt="NGI service">
                <p>Lorem Ipsum</p>
                <h2>Lorem Ipsum sit Amet</h2>
                <a href="#" class="btn-thin">View more <i class="fa-solid fa-arrow-right"></i></a>
            </div>

            {# Service 3 #}
            <div class="service">
                <img src="/assets/what-3.png" alt="NGI service">
                <p>Lorem Ipsum</p>
                <h2>Lorem Ipsum sit Amet</h2>
                <a href="#" class="btn-thin">View more <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
{# End of section services #}




{# ================================ Section Banner ============================= #}
<section class="section-banner" id="banner">
    <container class="container wrapper">
        <div class="col-3">
            <div class="banner">
                <h1>40</h1>
                <p>lorem Ipsu sit amet</p>
            </div>
            <div class="banner">
                <h1>40</h1>
                <p>lorem Ipsu sit amet</p>
            </div>
            <div class="banner">
                <h1>40</h1>
                <p>lorem Ipsu sit amet</p>
            </div>
        </div>
    </container>
</section>
{# End of Section Banner #}






<!-- =============== Section Projects =================== -->
<section class="hero-projects">
    <div class="container wrapper">
        <h2 class="heading-primary">Projects</h2>
        <div class="col-3">
            <div class="project">
                <img src="/assets/project-1.png" alt="NGI project">
                <p>lorem Ipsum</p>
                <h2>Lorem Ipsum Sit</h2>
                <a href="#" class="btn-thin">View more <i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="project">
                <img src="/assets/project-1.png" alt="NGI project">
                <p>lorem Ipsum</p>
                <h2>Lorem Ipsum Sit</h2>
                <a href="#" class="btn-thin">View more <i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="project">
                <img src="/assets/project-1.png" alt="NGI project">
                <p>lorem Ipsum</p>
                <h2>Lorem Ipsum Sit</h2>
                <a href="#" class="btn-thin">View more <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
{# end of services #}



<!-- =============== Partners =================== -->
<section class="section-partners">
    <div class="container wrapper">
        <h2 class="heading-primary">Partners</h2>
        <div class="col-4">
            <div class="partner">
                <img src="/assets/partner-1.png" alt="soronko Academy">
            </div>
            <div class="partner">
                <img src="/assets/partner-2.png" alt="soronko Academy">
            </div>
            <div class="partner">
                <img src="/assets/partner-3.png" alt="soronko Academy">
            </div>
            <div class="partner">
                <img src="/assets/partner-4.png" alt="soronko Academy">
            </div>
            <div class="partner">
                <img src="/assets/partner-5.png" alt="soronko Academy">
            </div>
            <div class="partner">
                <img src="/assets/partner-6.png" alt="soronko Academy">
            </div>
            <div class="partner">
                <img src="/assets/partner-7.png" alt="soronko Academy">
            </div>
            <div class="partner">
                <img src="/assets/partner-8.png" alt="soronko Academy">
            </div>
        </div>
    </div>
</section>
{# End of partners #}



<!-- =============== Donate =================== -->
<section class="section-donate">
    <div class="container wrapper">
        <div class="donate-container">
            <h1 class="mb-50">MAKE A MONTHLY DONATION AND KNOW THAT 100% WILL GO TO OUR PROJECTS</h1>
            <a href="#" class="btn btn-yellow">Donate Now</a>
        </div>
    </div>
</section>
{# End of Section donate #}



<!-- =============== Volunteer =================== -->
<section class="section-volunteers">
    <div class="container wrapper">
        <div class="col-2">
            <div>
                <h1>Call for Volunteers.</h1>
                <p>Our success over the years cannot be attributed to only our efforts. We have benefited from a great team of volunteers who want to make a difference. Join us</p>
                <a href="#" class="btn btn-yellow">Sign Up now</a>
            </div>
            <div>
                <img src="/assets/volunteer-img.png" alt="Volunteer at NGI">
            </div>
        </div>
    </div>
</section>
{# End of Volunteer section #}





<!-- =============== Newsroom =================== -->
<section class="section-blog">
    <div class="container wrapper">
        <h2 class="heading-secondary">Blog</h2>
        <div class="col-3 mb-50">
            {%- for post in collections.featured | reverse -%}
                {% include 'article-snippet.njk' %}
            {%- endfor-%}
        </div>
        <div class="text-center">
            <a href="/blog/" class="btn btn-yellow">Recent Articles</a>
        </div>
    </div>
</section>
{# End of Blog #}