---
title: Mubrarik Ibrahim
meta: Mr. Ibrahim has been a tremendous asset to the Northern Girl Initiative. He has demonstrated transformational leadership, strong work ethic and dedication to success.
layout: 'base.njk'
---



<section id="hero"></section>


{# =============================  Member =========================== #}
<section class="section-member">
    <div class="container wrapper">
        <div class="member-container">
            <div class="image text-center">
                <img src="/assets/team-1.png" alt="Mubarik Ibrahim">
            </div>
            <div>
                <div class="member-name">
                    <h1>Mubarik Ibrahim</h1>
                    <h3>Board Member</h3>
                    <div class="bar"></div>
                </div>
                <p>Mr. Ibrahim has been a tremendous asset to the Northern Girl Initiative. He has demonstrated transformational leadership, strong work ethic and dedication to success. He is a take-charge person who can present creative ideas and communicate the benefits to team members.  Mr. Ibrahim’s leadership has been instrumental in helping NGI embark on awareness and sensitization programs on many social issues facing young girls in Ghana. Mubarik Ibrahim holds a B.A Integrated Development Studies with specialization in Economics from the University for Development Studies.</p>
                <br>
                <p class="mb-50">As part of the undergraduate studies, He spent five months working in rural communities to develop community profiles, identify community problems and potentials and therefrom identify projects and write workable proposals upon which Government and other Developmental Organizations rely to put up development projects for these communities. He is a Chartered Insurance Risk Manager and currently the Managing Director of iRisk Reinsurance Brokers Limited.</p>

                <a href="/about/#team" class="btn btn-yellow">Back</a>
            </div>
        </div>
    </div>
</section>