---
title: Donate
meta: Continue to make donation
layout: 'base.njk'
---



<div id="hero"></div>

<section class="section-payment">
    <div class="container wrapper">

        <div class="payment-container">
            <h1>Paystack Checkout Demo</h1>
            <p>The easiest way to try Paystack is to make a live payment. Choose a small amount that you can afford to give away. Please note that this is a real transaction, and that your account will be debited.</p>

            {# payment form #}
            <form id="paymentForm" class="payment-form">
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" id="email-address" required class="input-field" />
            </div>
            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="tel" id="amount" required class="input-field" />
            </div>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input type="text" id="first-name" required class="input-field"/>
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input type="text" id="last-name" required class="input-field"/>
            </div>
            <div class="form-submit">
                <button type="submit" onclick="payWithPaystack()" class="btn btn-yellow"> Pay </button>
            </div>
            </form>
        </div>
    </div>
</section>

<script src="https://js.paystack.co/v1/inline.js"></script>