---
title: Donate
meta: Continue to make donation
layout: 'base.njk'
---



<div id="hero"></div>

<section class="section-payment">
    <div class="container wrapper">

        <div class="payment-container">
            <h1>Support Northern Ghana Girls - Make a Real Impact</h1>
            <p>Your donation helps break barriers to education and empowers young girls in Northern Ghana to lead and create positive change in their communities. Every contribution, big or small, directly supports initiatives that connect girls with female mentors and open doors to a brighter future.
            <br>
            <br>    
            Please note that this is a secure, live payment transaction. Your support today will make a lasting impact.</p>

            {# payment form #}
            <form id="paymentForm" class="payment-form">
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" id="email-address" required class="input-field" />
            </div>
            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="tel" id="amount" required class="input-field" />
            </div>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input type="text" id="first-name" required class="input-field"/>
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input type="text" id="last-name" required class="input-field"/>
            </div>
            <div class="form-submit">
                <button type="submit" onclick="payWithPaystack()" class="btn btn-yellow"> Pay </button>
            </div>
            </form>
        </div>
    </div>
</section>

<script src="https://js.paystack.co/v1/inline.js"></script>