---
title: Our Projects
meta: From Coding Camps to Mentorship - Discover NGI's Impactful Programs Uplifting Girls in Northern Ghana!
layout: 'base.njk'
---



<div id="hero"></div>



{# =================== Project hero================== #}
<section class="section-project-hero">
    <div class="container wrapper">
        <div class="hero-2-container">
            <h1 class="hero-heading">Our Projects</h1>
            <p>From Coding Camps to Mentorship - Discover NGI's Impactful Programs Uplifting Girls in Northern Ghana!
                <br>
            We choose each program intentionally, implementing targeted initiatives that empower Northern Ghanaian girls through hands-on inspiration and access. Our SMART camps, academic initiatives, and mentorship open up futures full of promise.
            </p>
        </div>
    </div>
</section>
{# End of Project hero #}






{# =================== Project ================== #}
<section class="section-project">
    <div class="container wrapper">
        {# First project #}
        <div class="project">
            <div class="col-2">
                <div>
                    <img src="/assets/tech-talk.png" alt="first project">
                </div>
                <div>
                    <h1>“Tech Talk” session at Tolon Naa Girls Model Junior High</h1>
                    <p>When the 2023 International Women’s Day theme “DigitALL: Innovation and technology for gender equality” was announced, we instantly knew one of our biggest education focuses for the girls of Northern Ghana this year.</p>
                    <a href="/blog/2024-01-12-project-3/" class="btn btn-yellow">Find out more</a>
                </div>
            </div>
        </div>


        {# Second project #}
        <div class="project">
            <div class="col-2">
                <div>
                    <h1>Digital Literacy at Moglaa LA Junior High School</h1>
                    <p>This week, our InnoHub on Wheels team arrived at Moglaa LA Junior High School in Ghana’s Savelugu District to facilitate another dynamic digital literacy workshop. As part of our commitment to provide practical tech skills training for youth in under-resourced schools, lessons focused on Microsoft Office fundamentals.</p>
                    <a href="/blog/2024-01-12-project-3/" class="btn btn-yellow">Find out more</a>
                </div>
                <div>
                    <img src="/assets/moglaa.png" alt="first project">
                </div>
            </div>
        </div>
    </div>
</section>
{# End of section project #}






{# ================================ Section Banner ============================= #}
<section class="section-banner" id="banner">
    <container class="container wrapper">
        <div class="col-3">
            <div class="banner">
                <h1>400+</h1>
                <p>Lives Impacted</p>
            </div>
            <div class="banner">
                <h1>10+</h1>
                <p>Embarked Projects</p>
            </div>
            <div class="banner">
                <h1>40</h1>
                <p>lorem Ipsu sit amet</p>
            </div>
        </div>
    </container>
</section>
{# End of Section Banner #}







<!-- =============== Section Projects =================== -->
<section class="hero-projects">
    <div class="container wrapper">
        <h2 class="heading-primary">Projects</h2>
        <div class="col-3">
            {%- for post in collections.project | reverse -%}
                {% include 'article-snippet.njk' %}
            {%- endfor-%}
        </div>
    </div>
</section>
{# end of services #}








<!-- =============== Donate =================== -->
<section class="section-donate">
    <div class="container wrapper">
        <div class="donate-container">
            <h1 class="mb-50">YOUR DONATION EMPOWERS THE DAUGHTERS OF NORTHERN GHANA</h1>
            <a href="/donate/" class="btn btn-yellow">Donate Now</a>
        </div>
    </div>
</section>
{# End of Section donate #}









<!-- =============== Volunteer =================== -->
<section class="section-volunteers">
    <div class="container wrapper">
        <div class="col-2">
            <div>
                <h1>Call for Volunteers.</h1>
                <p>Our success over the years cannot be attributed to only our efforts. We have benefited from a great team of volunteers who want to make a difference. Join us</p>
                <a href="https://docs.google.com/forms/d/1FCgtA5sUiCa6g8uRSaA5VDTtQ7WSDTjet2NmBCpOEAA/edit" target="_blank" class="btn btn-yellow">Sign Up now</a>
            </div>
            <div>
                <img src="/assets/volunteer-img.png" alt="Volunteer at NGI">
            </div>
        </div>
    </div>
</section>
{# End of Volunteer section #}

