---
title: Our Projects
meta: Our pojects
layout: 'base.njk'
---



<div id="hero"></div>



{# =================== Project hero================== #}
<section class="section-project-hero">
    <div class="container wrapper">
        <div class="hero-2-container">
            <h1 class="hero-heading">Our Projects</h1>
            <p>We’re always looking for organisations and stakeholders in our sector who are progressing climate action and education for children and young people.
            <br>    
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div>
    </div>
</section>
{# End of Project hero #}




{# =================== Project ================== #}
<section class="section-project">
    <div class="container wrapper">
        {# First project #}
        <div class="project">
            <div class="col-2">
                <div>
                    <img src="/assets/what-1.png" alt="first project">
                </div>
                <div>
                    <h1>HELPING YOUNG PEOPLE TAKE ACTION ON THE CLIMATE CRISIS</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <a href="/blog/2024-01-12-project-3/" class="btn btn-yellow">Find out more</a>
                </div>
            </div>
        </div>


        {# Second project #}
        <div class="project">
            <div class="col-2">
                <div>
                    <h1>HELPING YOUNG PEOPLE TAKE ACTION ON THE CLIMATE CRISIS</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <a href="/blog/2024-01-12-project-3/" class="btn btn-yellow">Find out more</a>
                </div>
                <div>
                    <img src="/assets/what-2.png" alt="first project">
                </div>
            </div>
        </div>
    </div>
</section>
{# End of section project #}






{# ================================ Section Banner ============================= #}
<section class="section-banner" id="banner">
    <container class="container wrapper">
        <div class="col-3">
            <div class="banner">
                <h1>40</h1>
                <p>lorem Ipsu sit amet</p>
            </div>
            <div class="banner">
                <h1>40</h1>
                <p>lorem Ipsu sit amet</p>
            </div>
            <div class="banner">
                <h1>40</h1>
                <p>lorem Ipsu sit amet</p>
            </div>
        </div>
    </container>
</section>
{# End of Section Banner #}





<!-- =============== Section Projects =================== -->
<section class="hero-projects">
    <div class="container wrapper">
        <h2 class="heading-primary">Projects</h2>
        <div class="col-3">
            {%- for post in collections.project | reverse -%}
                {% include 'article-snippet.njk' %}
            {%- endfor-%}
        </div>
    </div>
</section>
{# end of services #}





<!-- =============== Donate =================== -->
<section class="section-donate">
    <div class="container wrapper">
        <div class="donate-container">
            <h1 class="mb-50">MAKE A MONTHLY DONATION AND KNOW THAT 100% WILL GO TO OUR PROJECTS</h1>
            <a href="/donate/" class="btn btn-yellow">Donate Now</a>
        </div>
    </div>
</section>
{# End of Section donate #}







<!-- =============== Volunteer =================== -->
<section class="section-volunteers">
    <div class="container wrapper">
        <div class="col-2">
            <div>
                <h1>Call for Volunteers.</h1>
                <p>Our success over the years cannot be attributed to only our efforts. We have benefited from a great team of volunteers who want to make a difference. Join us</p>
                <a href="#" class="btn btn-yellow">Sign Up now</a>
            </div>
            <div>
                <img src="/assets/volunteer-img.png" alt="Volunteer at NGI">
            </div>
        </div>
    </div>
</section>
{# End of Volunteer section #}

