---
title: Deliman Yaro Ruka
meta: Deliman Yaro Ruka has been instrumental in the development of Northern Girl Initiative (N.G.I)
layout: 'base.njk'
---



<section id="hero"></section>


{# =============================  Member =========================== #}
<section class="section-member">
    <div class="container wrapper">
        <div class="member-container">
            <div class="image text-center">
                <img src="/assets/team-4.png" alt="Deliman Yaro Ruka">
            </div>
            <div>
                <div class="member-name">
                    <h1>Deliman Yaro Ruka</h1>
                    <h3>Executive Director</h3>
                    <div class="bar"></div>
                </div>
                <p>Deliman Yaro Ruka has been instrumental in the development of Northern Girl Initiative (N.G.I). As the Project Director of NGI, She has sphere headed numerous projects of N.G.I and has organized and facilitated various training workshops to build the capacities of young girls and boys for improved quality education for all Ghanaian children. She has also led the implementation of various N.G.I community outreach programs, the most recent of which is the “1000 in 10” outreach project. She has a strong passion for promoting social justice in marginalized communities. Prior to joining N.G.I, she worked as a Business Trainer for Camfed Ghana where she trained over 500 young women to become Financial Literacy Peer Educators who in turn, have trained over 10,000 community members in financial management. She was also the President for Camfed Alumni (CAMA) in the Sagnarigu District in the Northern Region. </p>
                <br>
                <p class="mb-50">Ruka is also an entrepreneur with a passion to influence change in her community through advocacy and mentoring. Coming from a humble background, Ruka has used the entrepreneurial skills she gained from her experience as a Business Trainer to establish a Farm in her community that raises and processes poultry in order to create employment for young people in her community – especially young women. She holds a degree in Integrated Development Studies from the University for Development Studies in Ghana. She was a fellow at the 2014 Mandela Washington Fellowship for Young African Leaders.</p>

                <a href="/about/#team" class="btn btn-yellow">Back</a>
            </div>
        </div>
    </div>
</section>