---
title: Samiha Yunus
meta: Samiha Yunus is a young energetic lady from the Northern region of Ghana who always has the desire to fight for change.
layout: 'base.njk'
---



<section id="hero"></section>


{# =============================  Member =========================== #}
<section class="section-member">
    <div class="container wrapper">
        <div class="member-container">
            <div class="image text-center">
                <img src="/assets/team-3.png" alt="Samiha Yunus">
            </div>
            <div>
                <div class="member-name">
                    <h1>Samiha Yunus</h1>
                    <h3>Manager of Volunteers</h3>
                    <div class="bar"></div>
                </div>
                <p>Samiha Yunus is a young energetic lady from the Northern region of Ghana who always has the desire to fight for change. At age 12, she joined curious minds, a unique youth-led organization that works to promote Adolescent life and development of children and youth through the media. She has been so strong and active on issues concerning women and children. Throughout her educational journey, she has been an active part of the Student Representative Council, Ghana Muslim Students Association and an active member of the debating clubs and a host of other clubs. </p>
                <br>
                <p class="mb-50">Volunteerism is her hallmark and she is excited doing anything that puts a smile on the face of the Girl Child. At high school, she was a key member of AfriLed, an entrepreneurship focused social organization. She is also an Entrepreneur and the C.E.O of Miha Special Beverages. She is very vocal, fervent and Enthusiastic about issues of the Girl child.Samiha holds a Higher Diploma in Development Management from University for Development Studies, Ghana and is currently a student of Integrated Community Development at the same school. She Loves the Media and is therefore a News reporter for the Campus Radio and a host of other shows on the Campus Radio.</p>

                <a href="/about/#team" class="btn btn-yellow">Back</a>
            </div>
        </div>
    </div>
</section>